/* Variables */


/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {

    /* debug */
    min-height: 500px;
    background-color: aquamarine;
}

/* Utils */


/* layout */


/*=====================================*/