/* Variables */
:root {
    --color-cyan: #add8e6;
    --color-blue: #00008b;
    --color-gold: #daa520;
    --color-pink: #ee82ee;
    --color-green: #228b22;
    --color-gray: #d3d3d3;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
ul {
    list-style: none;
}

header {
    padding: 10px;
}


/* Utils */
.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.bg-cyan {
    background-color: var(--color-cyan);
}

.bg-gold {
    background-color: var(--color-gold);
}

.border-dashed {
    border: 2px dashed #000;
}



.debug {
    min-height: 100px;
    border: 2px dashed #000;
    background-color: var(--color-green);
}

/* layout */
.row {
    display: flex;
}

.col-25 {
    flex-basis: 25%;
}

.col-50 {
    flex-basis: 50%;
}


/*=====================================*/
/* Main Menu */
#main-menu ul {
    display: flex;
}